article{
    width: 300px;
    border : 2px solid black;
    margin : 2px;
    border-radius: 10px;
    position: relative;
    left: 180px;
    /* float: left; */
}
.t1{
    background-color: rgb(179, 255, 0);
    padding: 20px;
    margin : 0;
    border: 10px solid black;
    height: 20px;
    width: 200px;
    position: relative;
    left : 550px;
    text-align: center;
}
.box{
    border: 1px solid black;
    height: 80px; 
    width: 180px;
    /* float: left; */
}
.box2{
    border: 2px solid purple;
    background-color: pink;
    height: 80px;
    width: 180px;
    /* float: left; */
}
#can{
    border: 1px solid black; position: relative; left: 450px;

}
.right{
    position: relative; left: 1000px; bottom: 200px;
}